@media (orientation: landscape) {

    @font-face {
        font-family: 'Aileron';
        font-style: bold;
        font-weight: 700;
        src: url(fonts/aileron/Aileron-Bold.woff) format('woff');
    }

    @font-face {
        font-family: 'Aileron';
        font-style: bold;
        font-weight: 400;
        src: url(fonts/aileron/Aileron-Regular.woff) format('woff');
    }

    #large-logo {
        visibility: hidden;
    }

    * {
        padding: 0;
        margin: 0;
        border: none;
    }

    body {
        background-color: #141414;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    #header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
        height: 20vh;
    }

    #info-bar {
        height: 8vh;
        color: #eeeeee;
        display: flex;
        align-items: center;
    }

    #info-bar #user-info {
        display: flex;
        align-items: center;
        margin: auto 2vw 0 auto;
        font-family: 'Aileron';
    }

    #info-bar #user-info .username {
        font-size: 1.5vw;
        margin-right: 1vw;
    }

    #info-bar #user-info img {
        border-radius: 50%;
        width: 2vw;
        height: 2vw;
    }

    #info-bar img {
        width: 1.8vw;
        height: 1.8vw;
    }

    #info-bar #notification-images {
        width: 50%;
        height: 50%;
        margin: auto 0 0 2vw;
    }

    #info-bar .notification-image {
        position: absolute;
    }

    #info-bar #notification-blank {
        visibility: hidden;
    }

    #info-bar #notification-on {
        visibility: hidden;
    }

    #info-bar #user-info {
        display: flex;
        margin: auto 2vw 0 auto;
        font-family: 'Aileron';
    }

    .username {
        font-size: 1.5vw;
    }

    #info-bar #user-info img {
        border-radius: 50%;
        margin: 0 1vw 0 1vw;
    }

    .nav-pages {
        list-style: none;
        font-family: 'Aileron';
        font-size: 1.2vw;
        text-align: center;
        margin-top: 5vh;
    }

    .nav-pages a {
        text-decoration: none;
        color: #bfbdbc;
    }

    .nav-pages li {
        display: inline-block;
        transition: transform 100ms ease, color 100ms ease;
    }

    .nav-pages li:hover {
        color: #fff;
        transform: scale(1.07);
    }

    .nav-pages span {
        display: inline-block;
        width: 5vw;
        height: 2px;
        background-color: #bfbdbc;
        margin: 0 1vw;
        vertical-align: middle;
    }

    #main-panel {
        width: 100%;
        height: 80vh;
        display: flex;
        left: 0;
    }

    aside {
        margin-top: 7vh;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-family: 'Aileron';
    }

    aside h2 {
        color: #fff;
        font-size: 2vw;
    }

    canvas {
        border-radius: 50%;
        margin: 5vh 0 5vh 0;
        width: 16vw;
        height: 16vw;
    }

    .creditChart-div {
        background-color: #bb918b;
    }

    .savingsChart-div {
        background-color: #c4ffa7;
    }

    aside h3 {
        color: #e1bc26;
        font-size: 1.3vw;
    }

    aside .motivation-panel {
        color: #fff;
        font-size: 1vw;
    }

    #savings-panel {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #scroll-right-arrow {
        margin-top: 14%;
        height: 10vh;
        width: 5vw;
    }

    #scroll-right-arrow img {
        height: inherit;
        width: inherit;
    }

    center {
        width: 50%;
        height: 100%;
        margin-top: 6vh;
        font-family: 'Aileron';
    }

    center h2 {
        color: #fff;
        font-size: 2.5vw;
        margin-bottom: 15%;
    }

    center #available-quantity {
        color: #fff;
        font-size: 5vw;
    }

    center #notification-panel span {
        margin-top: 10%;
        margin-left: 3%;
        display: flex;
        width: 50%;
        color: #fff;
        padding: 0.5vw;
        font-size: 1.23vw;
        background-color: #d15441;
        border-radius: 50vw;
    }

    center #notification-panel span p {
        margin-right: 0.7vw;
        color: #d15441;
        width: 1.6vw;
        border-radius: 50%;
        background-color: #fff;
    }

    #movements-panel {
        left: 100vw;
        width: 100vw;
        height: 80vh;
        color: #fff;
    }

    #main-panel,
    #movements-panel {
        position: absolute;
        top: 20vh;
        transition: transform 0.5s ease;
        will-change: transform;
    }

    #movements-panel h2 {
        margin-top: 4vh;
        font-family: 'Aileron';
        font-size: 2vw;
        text-align: center;
    }

    #movements-panel-content {
        display: flex;
    }

    #scroll-left-arrow {
        margin-top: 9.5%;
        height: 10vh;
        width: 5vw;
    }

    #scroll-left-arrow img {
        height: inherit;
        width: inherit;
    }

    #movements-panel-content aside {
        width: 40%;
        height: 50vh;
    }

    #movements-graph {
        margin-left: 1.5%;
        margin-right: 3%;
    }

    #movements-dates {
        margin-left: 3%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    #movements-dates div {
        width: 95%;
        background-color: #222121;
        border-radius: 2vw;
    }

    #popup {
        font-family: 'Aileron';
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        background-color: #222121;
        color: #fff;
        border-radius: 1vw;
        padding: 3vh 2vw;
        width: 35%;
        text-align: center;
    }

    #popup h3 {
        font-size: 2vw;
        margin-bottom: 2vh;
        color: #e1bc26;
    }

    #popup p {
        font-size: 1vw;
    }

    #popup form {
        display: flex;
        margin-top: 4vh;
        width: 100%;
    }

    #popup form div {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 30%;
    }

    #popup form div label {
        font-size: 1vw;
        text-align: start;
        margin: 0 0 .8vh .6vw;
    }

    #popup form div input {
        height: 5vh;
        background-color: #222121;
        border: .15vh solid #5c6264;
        border-radius: .7vh;
        outline: none;
        color: #fff;
        padding: 0 .5vw;
        font-size: 1vw;
        margin: 0 .5vw;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }

    #popup button {
        margin: 5vh .7vw 1vh .7vw;
        padding: 1vh 1vw;
        font-size: 1vw;
        background-color: #e1bc26;
        color: white;
        font-weight: 700;
        border: none;
        border-radius: .7vh;
        width: 21.5%;
        cursor: pointer;
    }

    #popup #register {
        border: .3vh #e1bc26 solid;
    }

    #popup #close-popup {
        background-color: #222121;
        border: .3vh #b49620 solid;
    }

    #popup #close-popup:hover {
        background-color: #5e5017;
        border: .3vh #5e5017 solid;
    }

    #popup #register:hover {
        background-color: #b49620;
        border: .3vh #b49620 solid;
    }

    #overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 999;
    }

    #settings-section {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Aileron';
        font-size: 1vw;
        font-weight: 700;
        color: #fff;
        top: 90%;
        left: 88%;
        background-color: #5c6264;
        padding-left: .8vw;
        border-radius: 5vw;
        cursor: pointer;
    }

    #settings-section p {
        margin: 0;
    }

    #settings-section img {
        width: 2.5vw;
        height: 2.5vw;
    }

    #movements-section-button-right, #movements-section-button-left {
        display: none;
    }

    #movements-list {
        padding: 1vh 1vw;
        list-style: none;
        overflow-x: hidden;
        overflow-y: scroll;
        scrollbar-width: none;
    }

    .date-item {
        margin-top: 1.5vh;
        display: block;
    }

    .date-item h3 {
        display: none;
    }

    .movement-info {
        margin: 0 auto;
        padding: 1vh 0;
        width: 100%;
    }

    .movement-table {
        margin-left: 2vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1vw;
        padding: 0 5vw;
    }

    .movement-row {
        display: contents;
    }

    .movement-cell {
        display: inline-block;
        padding: 0.5vh 0;
        font-size: 1vw;
        text-align: left;
    }

    .movement-row:first-child {
        font-weight: bold;
    }

    .movement-row:first-child .movement-cell:first-child {
        font-size: 1.2vw;
        font-weight: bold;
    }

    .movement-row:first-child .movement-cell:last-child {
        font-size: 1.2vw;
        color: #999693;
    }

    .movement-row:not(:first-child) .movement-cell:first-child {
        margin-left: 2vw;
    }

    #portrait-disclaimer {
        display: none;
    }

    notifications-panel {
        cursor: pointer;
    }

    #notifications-popup {
        display: none;  /* Hidden by default */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);  /* Semi-transparent background */
        justify-content: center;
        align-items: center;
        z-index: 9999;  /* Ensure it's on top */
    }
    
    #notifications-popup-content {
        background: white;
        padding: 20px;
        border-radius: 10px;
        width: 300px;
        max-width: 80%;
        text-align: left;
    }
    
    #notifications-popup h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    
    #notification-message {
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 20px;
    }
    
    #close-notifications-popup {
        background-color: #4CAF50;  /* Green color */
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        display: block;
        width: 100%;
    }
    
    #close-notifications-popup:hover {
        background-color: #45a049;  /* Darker green on hover */
    }
    
}
