@media (orientation: landscape) {
    @font-face {
        font-family: 'Aileron';
        font-style: bold;
        font-weight: 700;
        src: url(fonts/aileron/Aileron-Bold.woff) format('woff');
    }

    @font-face {
        font-family: 'Aileron';
        font-style: bold;
        font-weight: 400;
        src: url(fonts/aileron/Aileron-Regular.woff) format('woff');
    }

    * {
        padding: 0;
        margin: 0;
        border: none;
        font-family: 'Aileron', sans-serif;
    }

    body {
        background-color: #141414;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    #header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
        height: 20vh;
    }

    #info-bar {
        height: 8vh;
        color: #eeeeee;
        display: flex;
        align-items: center;
    }

    #info-bar #user-info {
        display: flex;
        align-items: center;
        margin: auto 2vw 0 auto;
        font-family: 'Aileron';
    }

    #info-bar #user-info .username {
        font-size: 1.5vw;
        margin-right: 1vw;
    }

    #info-bar #user-info img {
        border-radius: 50%;
        width: 2vw;
        height: 2vw;
    }

    #info-bar img {
        width: 1.8vw;
        height: 1.8vw;
    }

    #info-bar #notification-images {
        width: 50%;
        height: 50%;
        margin: auto 0 0 2vw;
    }

    #info-bar .notification-image {
        position: absolute;
    }

    #info-bar #notification-blank {
        visibility: hidden;
    }

    #info-bar #notification-on {
        visibility: hidden;
    }

    #info-bar #user-info {
        display: flex;
        margin: auto 2vw 0 auto;
        font-family: 'Aileron';
    }

    #large-logo {
        display: none;
    }

    .username {
        font-size: 1.5vw;
    }

    #info-bar #user-info img {
        border-radius: 50%;
        margin: 0 1vw 0 1vw;
    }

    .nav-pages {
        list-style: none;
        font-family: 'Aileron';
        font-size: 1.2vw;
        text-align: center;
        margin-top: 5vh;
    }

    .nav-pages a {
        text-decoration: none;
        color: #bfbdbc;
    }

    .nav-pages li {
        display: inline-block;
        transition: transform 100ms ease, color 100ms ease;
    }

    .nav-pages li:hover {
        color: #fff;
        transform: scale(1.07);
    }

    .nav-pages span {
        display: inline-block;
        width: 5vw;
        height: 2px;
        background-color: #bfbdbc;
        margin: 0 1vw;
        vertical-align: middle;
    }

    #content {
        color: #fff;
        display: flex;
        height: 80vh;
        margin-top: 15vh;
    }

    #general-info {
        width: 50%;
        font-family: 'Aileron';
        font-weight: 700;
        text-align: center;
    }

    #general-info h2 {
        margin: 21vh 0 5vh 0;
        font-size: 1.7vw;
    }

    #general-info #quantity {
        font-size: 4.5vw;
    }

    #general-info #add-income-button {
        margin: 5vh auto 0 auto;
        width: 4.5vw;
        height: 4.5vw;
        border-radius: 50%;
        background-color: #4caf50;
    }

    #general-info #add-income-button:hover {
        cursor: pointer;
    }

    #general-info #add-income-button #vertical {
        position: relative;
        width: .3vw;
        height: 2.5vw;
        background-color: #fff;
        border-radius: 1vw;
        left: 2.1vw;
        top: .9vw;
    }

    #general-info #add-income-button #horizontal {
        position: relative;
        width: 2.5vw;
        height: .3vw;
        background-color: #fff;
        border-radius: 1vw;
        bottom: .5vw;
        left: 1vw;
    }

    #popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 200;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.3s ease;
    }

    #popup-content {
        background: #222121;
        border-radius: 1vw;
        text-align: center;
        padding: 2vw;
        width: 40vw;
        height: 50vh;
        color: #fff;
        font-family: 'Aileron';
    }

    #popup-content h3 {
        font-size: 1.8vw;
        margin-bottom: 4vh;
    }

    #popup-content #form-div {
        display: flex;
    }

    #popup-content #form-div div {
        width: 60%;
        margin-left: 1vw;
        height: 35vh;
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    #popup-content #form-div div::-webkit-scrollbar {
        display: none;
    }

    .add-area-button {
        border: none;
        background-color: #34a85b;  /* Use the same color or adjust as needed */
        color: white;
        padding: 10px;
        border-radius: 50%;
        font-size: 20px;
        cursor: pointer;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        box-sizing: border-box;
        margin-left: 10px;
    }
    
    .add-area-button:hover {
        background-color: #28a14b;
    }
    
    .radio-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: flex-start;
    }
    
    .radio-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .custom-area {
        display: none;
    }
    
    .area-label {
        cursor: pointer;
        display: inline-flex;  /* Changed to inline-flex for better alignment control */
        justify-content: center; /* Center the icon horizontally */
        align-items: center;     /* Center the icon vertically */
        width: 3vw;
        height: 3vw;
        background-size: cover;
        background-position: center;
        outline: none;
        transition: outline 0.3s ease;
        margin-bottom: 0.5vh;
        border-radius: 50%;  /* Ensure the label remains circular */
    }
    
    .radio-item input[type="radio"] {
        display: none;
    }
    
    .custom-area:checked + .area-label {
        outline: 0.15vw solid #007BFF;
        outline-offset: 0.1vw;
    }
    
    .text-label {
        font-size: .9vw;
        color: #b5b5b5;
        cursor: pointer;
    }

    #popup-content div form {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 80%;
    }

    #popup-content div form input,
    .income-form {
        height: 4vh;
        background-color: #222121;
        border: .15vw #5c6264 solid;
        color: #fff;
        font-family: 'Aileron';
        font-size: 1vw;
        margin-bottom: 3vh;
    }

    input:focus,
    select:focus {
        outline: none;
    }

    label {
        font-size: 1vw;
        text-align: start;
        margin: 0 0 .5vh .1vw;
    }

    .income-form::-webkit-outer-spin-button,
    .income-form::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .income-form {
        padding: .5vh .5vw;
        border-radius: .5vw;
    }

    #popup #buttons {
        margin: 3vh 0 0 25vw;
    }

    #popup #add {
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        background-color: #4caf50;
        font-family: 'Aileron';
        font-weight: 700;
        font-size: 1vw;
        color: white;
        border: none;
        border-radius: .2vw;
        cursor: pointer;
    }

    #popup #close-popup {
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        background-color: #222121;
        font-family: 'Aileron';
        font-weight: 700;
        font-size: 1vw;
        color: #c95959;
        border: none;
        border-radius: .2vw;
        cursor: pointer;
    }

    #popup #add:hover {
        background-color: #339b37;
    }

    #popup #close-popup:hover {
        background-color: #463b3b;
    }

    .hidden {
        visibility: hidden;
        opacity: 0;
    }

    .visible {
        visibility: visible;
        opacity: 1;
    }

    #movements-list {
        width: 75%;
        padding: 1vh 1vw;
        list-style: none;
        overflow-x: hidden;
        overflow-y: scroll;
        scrollbar-width: none;
        font-family: 'Aileron';
        background-color: #222121;
        border-radius: 2vw;
        margin-left: 12vw;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    #movements-dates {
        margin: auto 0;
        width: 50%;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .date-item {
        margin-top: 1.5vh;
        display: block;
    }

    .movement-info {
        margin: 0 auto;
        padding: 1vh 0;
        width: 100%;
    }

    .movement-table {
        width: 100%;
        margin-left: 1vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1vw;
        padding: 0 5vw;
    }

    .movement-row {
        display: contents;
    }

    .movement-cell {
        display: inline-block;
        padding: 0.5vh 0;
        font-size: 1vw;
        text-align: left;
    }

    .movement-row:first-child {
        font-weight: bold;
    }

    .movement-row:first-child .movement-cell:first-child {
        font-size: 1.2vw;
        font-weight: bold;
    }

    .movement-row:first-child .movement-cell:last-child {
        font-size: 1.2vw;
        color: #999693;
    }

    .movement-row:not(:first-child) .movement-cell:first-child {
        margin-left: 2vw;
    }

    #custom-area-popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }
    
    #custom-area-popup .popup-content {
        position: absolute;
        /* display: flex;
        flex-direction: column; */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #222121;
        color: #fff;
        padding: 2vh 1vw;
        border-radius: 1vw;
        width: 25%;
    }

    #custom-area-popup h3 {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 3vh;
    }

    #custom-area-form {
        display: flex;
        flex-direction: column;
    }
    
    #custom-area-popup input,
    #custom-area-popup button {
        margin-bottom: 1vh;
    }

    #custom-area-popup #custom-area-background {
        width: 100%;
    }

    #buttons-custom-area-popup {
        display: flex;
        gap: .3vw;
        justify-content: end;
    }
    
    #close-custom-area-popup{
        background-color: #222121;
        border: .3vh #7c0a0a solid;
        border-radius: 1vh;
        color: white;
        padding: 1vh 1vw;
        font-size: 1rem;
        cursor: pointer;
    }

    #add-custom-area-popup{
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 1vh;
        padding: 1vh 1vw;
        font-size: 1rem;
        cursor: pointer;
    }
    
    #close-custom-area-popup:hover {
        background-color: #7c0a0a
    }

    #add-custom-area-popup:hover {
        background-color: #39813d;
    }
    
    .icon-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
        gap: 1.5vh;
        height: 30vh;
        overflow-y: auto;
        scrollbar-width: none;
        margin-bottom: 3vh;
    }
    
    .icon-image {
        width: 2.5vw;
        cursor: pointer;
        border-radius: 1vh;
        transition: transform 0.2s, box-shadow 0.2s;
    }
    
    .icon-image.selected {
        transform: scale(1.2);
        box-shadow: 0 0 1vh #34a85b;
        border: .2vh solid #34a85b;
    }
    
}
