@media (orientation: landscape) {
    @font-face {
        font-family: 'Aileron';
        font-style: bold;
        font-weight: 700;
        src: url(fonts/aileron/Aileron-Bold.woff) format('woff');
    }

    @font-face {
        font-family: 'Aileron';
        font-style: bold;
        font-weight: 400;
        src: url(fonts/aileron/Aileron-Regular.woff) format('woff');
    }

    body {
        font-family: "Aileron";
        background-color: #141414;
        color: #fff;
        display: flex;
        overflow: hidden;
        margin: 0;
    }

    body div {
        width: 50%;
        height: 100vh;
    }

    body #middle-span {
        position: absolute;
        left: 49.75%;
        top: 10%;
        width: .5%;
        height: 15%;
        background-color: #435257;
        pointer-events: none;
        animation: slideUp 0.5s ease-out forwards;
        z-index: 9999;
    }

    @keyframes slideUp {
        from {
            top: 100vh;
        }

        to {
            top: 10%;
        }
    }

    #form-panel {
        position: relative;
        z-index: 10;
    }

    #form-panel .image {
        position: relative;
        display: inline-block;
        width: 10vw;
        height: auto;
        top: 8vh;
    }

    .image img {
        display: block;
        width: 100%;
        margin-left: 3vw;
    }

    .image p {
        position: absolute;
        font-size: 1vw;
        top: 3.7vh;
        left: 11vw;
    }

    #form-panel .page-title {
        position: absolute;
        top: 26vh;
        left: 5vw;
    }

    .page-title h1 {
        margin: 0;
        font-size: 2.5vw;
    }

    .page-title p {
        margin: 1vh 0 0 .1vw;
        width: 110%;
        font-size: 1.5vw;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 20vh 0 0 5vw;
        font-family: 'Aileron';
        font-weight: 400;
    }

    form label {
        font-size: .8vw;
        font-weight: 400;
        letter-spacing: .15vw;
        margin: 0 0 .5vh 0;
        color: #b1bcbf;
    }

    form input {
        height: 4vh;
        margin-bottom: 2vh;
        background-color: #141414;
        border: none;
        border: .215vh solid #435257;
        border-radius: .8vh;
        padding-left: .5vw;
        font-size: 0.9vw;
        color: #fff;
        z-index: 9999;
    }

    form input:focus {
        outline: none;
    }

    form button {
        color: #fff;
        font-weight: 700;
        font-size: 1.4vw;
        border: 0;
        border-radius: 0.8vh;
        padding: 1vh 0 1vh 0;
        background-color: #435257;
        z-index: 9999;
        cursor: pointer;
    }

    #singin-link {
        font-size: 1vw;
        margin-left: 5vw;
        position: relative;
        z-index: 10000;
        color: #b1bcbf;
    }

    #singin-link a {
        margin-left: 0.5vw;
        color: #809ba4;
    }

    #dashboard-info {
        position: relative;
        overflow: hidden;
        background-color: #141414;
        z-index: 1;
    }

    #dashboard-info::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #202020;
        transform: translateX(-100%);
        animation: curtainSlide .5s ease-out forwards;
        z-index: -1;
    }

    @keyframes curtainSlide {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(0);
        }
    }

    #dashboard-info h2 {
        margin: 9vh 0 0 4.5vw;
        font-size: 1.5vw;
        letter-spacing: .15vw;
    }

    #dashboard-info p {
        margin: 2vh 0 0 4.5vw;
        color: #ccc;
        font-weight: 400;
        font-size: .9vw;
        letter-spacing: .15vw;
    }

    #dashboard-info h2,
    #dashboard-info p {
        position: relative;
        opacity: 0;
        animation: fadeIn .7s ease-out forwards;
        z-index: 10;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    #dashboard-info img {
        margin: 7vh 0 0 4.5vw;
        width: 65vw;
        border-radius: 2.5vh;
        box-shadow: 1px 8px 50px 3px #000;
        position: relative;
        top: 100vh;
        animation: slideUpImage 0.6s ease-out forwards;
    }

    @keyframes slideUpImage {
        from {
            top: 100vh;
        }

        to {
            top: 1vh;
        }
    }
}
