@media (orientation: portrait) {
    @font-face {
        font-family: 'Aileron';
        font-style: bold;
        font-weight: 700;
        src: url(fonts/aileron/Aileron-Bold.woff) format('woff');
    }

    @font-face {
        font-family: 'Aileron';
        font-style: normal;
        font-weight: 400;
        src: url(fonts/aileron/Aileron-Regular.woff) format('woff');
    }

    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    * {
        font-family: 'Aileron', sans-serif;
    }

    body {
        background-color: #141414;
        margin: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        scrollbar-width: none;
        overflow-x: hidden;
    }

    #header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #141414;
        padding: 2vh 0;
    }

    #info-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 90%;
        border-bottom: .2vh solid #999693;
        padding: 1vh 0;
    }

    #notification-images {
        display: flex;
        gap: 1vh;
    }

    #notification-images img {
        position: absolute;
        top: 5vh;
        left: 5vw;
        width: 4vh;
        height: 4vh;
    }

    #notification-blank {
        visibility: hidden;
    }

    #notification-on {
        visibility: hidden;
    }

    #large-logo {
        width: 10vh;
        height: 10vh;
    }

    #user-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1vh;
    }

    #user-info h3 {
        font-size: 2.5vh;
        margin: 0;
        color: #eeeeee;
        display: none;
    }

    #profile-pic {
        position: absolute;
        top: 5vh;
        right: 5vw;
        width: 5vh;
        height: 5vh;
        border-radius: 50%;
        object-fit: cover;
    }

    .nav-pages {
        margin-top: 2vh;
        width: 100%;
        text-align: center;
        font-size: 2vh;
        padding: 1vh 0;
    }

    .nav-pages ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        gap: 12vw;
    }

    .nav-pages li {
        display: inline-block;
    }

    .nav-pages a {
        text-decoration: none;
        color: #bfbdbc;
        transition: transform 100ms ease, color 100ms ease;
    }

    .nav-pages a:hover {
        color: #ffffff;
        transform: scale(1.1);
    }

    #content {
        display: flex;
        flex-direction: column;
        color: #fff;
        gap: 2vh;
    }

    #general-info {
        order: -1;
        display: flex;
        background-color: #1c1c1c;
        border-radius: 1vw;
        border: .2vh solid #454443;
        box-shadow: 0 1vh 2vh rgba(0, 0, 0, 0.5);
        align-items: center;
    }

    #general-info #just-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 2vh 4vw;
    }

    #general-info h2 {
        font-size: 3vh;
    }

    #general-info #quantity {
        font-size: 4vh;
        font-weight: 700;
    }

    #general-info #add-income-button {
        margin: 2vh auto 0 auto;
        width: 9vh;
        height: 9vh;
        border-radius: 50%;
        background-color: #4caf50;
    }

    #general-info #add-income-button:hover {
        cursor: pointer;
    }

    #general-info #add-income-button #vertical {
        position: relative;
        width: .5vh;
        height: 5vh;
        background-color: #fff;
        border-radius: 1vw;
        left: 4.3vh;
        top: 2vh;
    }

    #general-info #add-income-button #horizontal {
        position: relative;
        width: 5vh;
        height: .5vh;
        background-color: #fff;
        border-radius: 1vw;
        bottom: .6vh;
        left: 2vh;
    }

    #movements-list {
        list-style: none;
        overflow-x: hidden;
        overflow-y: scroll;
        scrollbar-width: none;
        background-color: #1c1c1c;
        border-radius: 1vw;
        border: .2vh solid #454443;
        box-shadow: 0 1vh 2vh rgba(0, 0, 0, 0.5);
        height: 50vh;
    }

    .date-item {
        margin-top: 1.5vh;
        display: block;
        color: #eeeeee;
    }

    .date-item h3 {
        display: none;
    }

    .movement-info {
        margin: 0 5%;
        padding: 1vh 0;
        width: 100%;
    }

    .movement-table {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1vh;
        padding: 0 5vw;
    }

    .movement-row {
        display: contents;
    }

    .movement-cell {
        display: inline-block;
        padding: 0.5vh 0;
        font-size: 2vh;
        text-align: left;
    }

    .movement-row:first-child {
        font-weight: bold;
    }

    .movement-row:first-child .movement-cell:first-child {
        font-size: 2.5vh;
        font-weight: bold;
    }

    .movement-row:first-child .movement-cell:last-child {
        font-size: 2.5vh;
        color: #999693;
    }

    .movement-row:not(:first-child) .movement-cell:first-child {
        margin-left: 2vw;
    }

    #popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 200;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.3s ease;
    }

    #popup-content {
        background: #222121;
        border-radius: 1vw;
        text-align: center;
        padding: 0 2vw;
        width: 80%;
        color: #fff;
    }

    #popup-content h3 {
        font-size: 3vh;
        margin-bottom: 4vh;
    }

    #popup-content #form-div {
        display: flex;
        flex-direction: column;
    }

    #popup-content #form-div div {
        width: 100%;
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    #popup-content #form-div div::-webkit-scrollbar {
        display: none;
    }

    .radio-container {
        order: -1;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 2vw;
        padding: 0 1vw;
    }
    
    .radio-container::-webkit-scrollbar {
        height: 0.5vh;
        background-color: transparent;
    }
    
    .radio-container::-webkit-scrollbar-thumb {
        background-color: #555;
        border-radius: 1vw;
    }
    
    .radio-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 8vh;
        min-height: 12vh;
    }

    .area-label {
        cursor: pointer;
        display: inline-block;
        width: 8vh;
        height: 8vh;
        background-size: cover;
        background-position: center;
        outline: none;
        transition: outline 0.3s ease;
        margin-bottom: 0.5vh;
    }
    
    .custom-area:checked+.area-label {
        outline: 0.15vw solid #007BFF;
        outline-offset: 0.1vw;
    }
    
    .text-label {
        font-size: 1.5vh;
        color: #b5b5b5;
        cursor: pointer;
    }

    #popup-content div form {
        display: flex;
        flex-direction: column;
        margin: 2vh auto 0 auto;
        width: 80%;
    }

    #popup-content #form-div span {
        position: absolute;
        width: 80%;
        height: .2vh;
        top: 40vh;
        background-color: #999693;
    }

    #popup-content div form input,
    .income-form {
        height: 4.5vh;
        background-color: #222121;
        border: .2vh #5c6264 solid;
        color: #fff;
        font-size: 1.8vh;
        margin-bottom: 1vh;
    }

    input:focus,
    select:focus {
        outline: none;
    }

    label {
        font-size: 2vh;
        text-align: start;
        margin: 0 0 .7vh .1vw;
    }

    .income-form::-webkit-outer-spin-button,
    .income-form::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .income-form {
        padding: 1vh 1vw;
        border-radius: 1vw;
    }

    #popup #buttons {
        display: flex;
        flex-direction: column;
    }

    #popup #add {
        order: -1;
        margin: 3vh auto 0 auto;
        padding: .5vh;
        background-color: #4caf50;
        font-weight: 700;
        font-size: 2.3vh;
        color: white;
        border: none;
        border-radius: 1vw;
        width: 80%;
        cursor: pointer;
    }

    #popup #close-popup {
        margin: 1vh auto 1vh auto;
        padding: .5vh;
        background-color: #222121;
        font-weight: 700;
        font-size: 2.3vh;
        color: #c95959;
        border: none;
        border-radius: 1vw;
        width: 80%;
        cursor: pointer;
    }

    #popup #add:hover {
        background-color: #339b37;
    }

    #popup #close-popup:hover {
        background-color: #463b3b;
    }

    .hidden {
        visibility: hidden;
        opacity: 0;
    }

    .visible {
        visibility: visible;
        opacity: 1;
    }
}
